.cms-index-index .featured-products-widget .products-grid .actions{
    display: block;
    padding: 0;
    position: inherit;
    bottom: 0;
}
.cms-index-index .featured-products-widget .products-grid .item{
    float: left;
    width: 150px;
}