<?php
$_products = $this->getProductsCollection();
?>
<?php if (count($_products)): ?>
    <div class="featured-products-widget">
        <h2 class="subtitle"><?php echo $this->__('Featured Products') ?></h2>
        <ul class="products-grid">
            <?php foreach ($_products as $_product): ?>
                <?php $image = $this->helper('catalog/image')->init($_product, 'small_image');?>
                <li class="item">
                    <?php if ($this->displayImages()) :?>
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(100) ?>" width="100" height="100" alt="<?php echo $this->escapeHtml($_product->getName()) ?>" /></a>
                    <?php endif;?>
                    <?php if ($this->displayPrices()):?>
                        <?php echo $this->formatPrice($_product) ?>
                    <?php endif;?>
                    <div class="actions">
                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                    </div>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
<?php endif; ?>
